<main id="main">
    <%- include('../partials/adminNav'); %>
    <h1 class="alpha">Update <%= pageTitle; %></h1>
    <form method="POST" action="/admin/updateOrAddNew" class="form form__medium">
        <%# <input type="hidden" name="_csrf" value="" />%>
        <fieldset class="fieldset fieldset__bordered">
            <legend>Update or add new</legend>
            <div class="grid-two-by-two grid-two-by-two__radios">
                <%- include('../forms/radio', {data: {name: 'updateOrAddNew', id: 'update', value: 'update', label: 'Update'}}); %>
                <%- include('../forms/radio', {data: {name: 'updateOrAddNew', id: 'addnew', value: 'new', label: 'Add new'}}); %>
            </div>
        </fieldset>
        <fieldset class="fieldset fieldset__bordered">
            <!-- only show if the eg northdownsway -->
            <legend>Type</legend>
            <div class="grid-two-by-two grid-two-by-two__radios m-v-b-large">
                <%- include('../forms/radio', {data: {name: 'type', id: 'walk', value: 'walks', label: 'Walk'}}); %>
                <%- include('../forms/radio', {data: {name: 'type', id: 'equipment', value: 'equipment', label: 'Equipment'}}); %>
            </div>
            <button class="btn btn__active" type="button" data-button="get-by-type">Get by type</button>
        </fieldset>
        <!-- only show if the eg northdownsway -->
        <fieldset class="fieldset fieldset__bordered is-hidden" id="subTypeParamOuter">
            <legend>Select walk or equipment</legend>
            <label class="label" for="subTypeParam2">Select walk or equipment</label>
            <select name="subTypeParam" id="subTypeParam2" class="select">
            </select>
            <button class="btn btn__active" type="button" data-button="get-by-sub-type">Get sub types
            </button>
        </fieldset>
        <fieldset class="fieldset fieldset__bordered is-hidden" id="subTypeArticleParamOuter">
            <legend>Select article type</legend>
            <label class="label" for="articleParam">Select article</label>
            <select name="articleParam" id="articleParam" class="select">
            </select>
        </fieldset>
        <button class="btn btn__submit">Submit</button>
    </form>
</main>
