<main id="main">
    <h1 class="alpha">Login</h1>
    <form method="POST" action="/admin/login" class="form form__narrow">
        <% if(hasError) { %>
            <p class="text-error">There is a problem with the supplied login details</p>
        <% }; %>

        <%# <input type="hidden" name="_csrf" value="" />%>
        <fieldset class="fieldset fieldset__bordered">
            <legend>Add password and whatever</legend>
            <%- include('../forms/input', {data: {name: 'username', id: 'username', value: '', label: 'User name', required: true}}); %>
            <%- include('../forms/password', {data: {name: 'password', id: 'password', value: '', label: 'Password', required: true}}); %>
        </fieldset>
        <button type="submit" class="btn">Submit</button>
    </form>
</main>
