<main id="main">
    <h1 class="alpha">Logout</h1>
    <form method="POST" action="/admin/logout" class="form form__narrow">
        <%# <input type="hidden" name="_csrf" value="" />%>
        <button type="submit" class="btn">Logout</button>
    </form>
</main>
