<main id="main">
    <h1 class="alpha">
        Add new article success (or failure)
    </h1>
    <% if(newArticleAdded === true ) { %>
        <p>Your article was added correctly</p>
        <a id="viewArticleLink" href="<%= articleLink; %>">View article</a>

    <% } else if (newArticleAdded === 'error'){ %>
        <p>An error has occured and your article may not have been inserted</p>
    <% } else { %>
        <p>There is an error with your data unable to add</p>
    <% } %>

</main>
