<main id="main">
    <h1 class="alpha">
        <%= pageTitle; %>: <%= params.subtype; %>
    </h1>
    <form method="POST" action="/admin/new/article">
        <%# <input type="hidden" name="_csrf" value="" />%>
        <fieldset>
            <legend>Data for new article</legend>
            <input type="hidden" name="type" value="<%= params.type; %>" />
            <%
            const verseIndexData = {
                name: "verseIndex",
                id: "verseIndex",
                value: "",
                label: "Verse index",
                required: "required"
            };
            const subTypeParamData = {
                name: "sub_type_param",
                id: "sub_type_param",
                value: params.subtype,
                label: "Sub type param",
                required: "required"
            };
            const articleParamData = {
                name: "articleParam",
                id: "articleParam",
                value: "",
                label: "Article param",
                required: "required"
            };
            // todo get this from the data
            const titleData = { name: "title", id: "title", value: "", label: "Title", required: "required" };
            const articleTitleData = {
                name: "articleTitle",
                id: "articleTitle",
                value: "",
                label: "Article title",
                required: "required"
            };
            const articlesJsonData = {
                name: "articlesJson",
                id: "articlesJson",
                label: "Articles Json",
                required: "required"
            };
            %>
            <div class="grid-generic grid-generic__three">
                <%- include('../forms/input', {data: verseIndexData}); %>
                <%- include('../forms/input', {data: subTypeParamData}); %>
                <%- include('../forms/input', {data: articleParamData}); %>
                <%- include('../forms/input', {data: titleData}); %>
                <%- include('../forms/input', {data: articleTitleData}); %>
            </div>

            <%- include('../forms/textarea', {data: articlesJsonData}); %>
        </fieldset>
        <button type="submit" class="btn btn__submit">Submit</button>
    </form>
</main>
