<main id="main">
    <%- include('../partials/adminNav'); %>
    <form method="POST"
          action="/admin/update/<%= params.type; %>/<%= params.subtype; %>/<%= params.articleParam; %>">
        <%# <input type="hidden" name="_csrf" value="" />%>
        <fieldset>

                <legend><h1 class="alpha"><%= pageTitle; %>: <%= verseTitle; %></h1></legend>

            <% Object.entries(articleData).forEach((data) => { %>
                <% let [title, value] = data;
                    if (typeof value !== 'string') {
                        value = JSON.stringify(value)
                    }

                    // make the inputs that we dont want to edit paragraphs
                    const inputData = { name: title, id: title, value: value, label: title };
                %>

                <% if(adminArticlesShowAsText.includes(data[0]) ) { %>
                    <p class="admin__name-value"><b class="admin__value"><%= title; %></b><span><%= value; %></span></p>
                <% } else { %>
                    <% if(data[0] !== 'articlesJson') { %>
                        <%- include('../forms/input', {data: inputData}); %>
                    <% } else { %>
                        <%- include('../forms/textarea', {data: inputData}); %>
                    <% } %>
                    <input type="hidden" name="original_<%= title; %>" value="<%= value; %>" />
                <% } %>

            <% }); %>
        </fieldset>
        <button type="submit" class="btn btn__submit">Submit</button>
    </form>
</main>
