<main id="main">
    <%- include('../partials/imageNav'); %>


    <form class="form" action="/images/chefImages" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend><h1 class="beta m-v-t-b-large"><%= pageTitle; %></h1></legend>
            <div class="form-grid">
                <label class="label" for="prefix">Prefix</label>
                <input class="input input__tiny" type="text" name="prefix" id="prefix" />
            </div>

            <p class="m-v-t-b-large">The following photos have been prepped</p>
            <ul>
                <% copiedImages.forEach((image, i, arr) => { %>
                    <li class="listy">
                        <input type="hidden" name="fileName-<%= i %>" value="<%= image %>">
                        <div class="form-grid form-grid__bordered">
                            <label class="label" for="checkbox-<%= i %>"><%= image %></label>
                            <input class="checkbox" type="checkbox" name="checkbox-<%= i %>" checked="true"
                                   id="checkbox-<%= i %>">

                            <img src="/images/holding/<%= image %>" alt="image" class="form-grid__image">

                            <label class="label" for="newName-<%= i %>">New name <%= i %></label>
                            <input class="input input__sml" type="text" name="name-<%= i %>"
                                   id="newName-<%= i %>">

                            <label class="label" for="altText-<%= i %>">Alt text <%= i %></label>
                            <input class="input input__sml" type="text" name="alt-<%= i %>"
                                   id="altText-<%= i %>">

                            <label class="label" for="captionText-<%= i %>">Caption text <%= i %></label>
                            <input class="input input__sml" type="text" name="caption-<%= i %>"
                                   id="captionText-<%= i %>">
                        </div>
                    </li>
                <% }); %>
            </ul>
        </fieldset>
        <input class="btn btn__submit" type="submit">
    </form>
</main>
