<main>
    <%- include('../partials/imageNav'); %>
    <form class="form form__narrow" action="/images/selectImages" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend><h1 class="beta m-v-t-b-large"><%= pageTitle; %></h1></legend>
            <label class="label" for="select-images">Select images</label>
            <input id="select-images" type="file" name="file" multiple>
        </fieldset>
        <button class="btn btn__submit" type="submit">Upload</button>
    </form>
</main>
