<main id="main">
    <h2 class="beta">The following photos have been created</h2>
    <% if (errorData) { %>
        <p>Unable to load photos an error has occured</p>
    <% } %>
    <ul>
        <% successData.forEach((success) => { %>
            <li class="flex list-item">
                <img src="/images/<%= success; %>" alt="image" class="form-grid__image">
                <p class="u-p"><%= success; %></p>
            </li>
        <% }); %>
    </ul>

    <% if (jsonData) { %>
        <h2 class="beta">The following JSON file has been created</h2>
        <% jsonData.forEach((jc) => { %>
            <div>
                <button class="copy">Copy</button>
                <pre class="json"><%= JSON.stringify(jc, null, 4); %></pre>
            </div>
        <% }); %>
    <% } %>
</main>
