<nav class="nav-image" aria-labelledby="admin-nav">
    <h2 id="admin-nav" class="is-accessible-text">Admin nav</h2>
    <ul class="nav-image__list">
        <li class="nav-image__item">
            <a href="/admin">Admin: Home</a>
        </li>
        <li class="nav-image__item">
            <a href="/admin/updatehome">Admin: Update homepage</a>
        </li>
    </ul>
</nav>
