<div>
    <% if (expectedAdditionalKeys) { %>
        <% if (locals.titleParam.toLowerCase() === 'walks') { %>
            <h2 class="beta">Additional info</h2>
            <dl class="info">
                <% expectedAdditionalKeys.forEach((key) => { %>
                    <%
                        const add = expectedAdditional[key];
                        const helper = helpers[add.helper];
                        const localValue = locals[key];
                        const properValue = helper ? helper(localValue) : localValue;
                    %>
                    <% if (localValue) { %>
                        <dt class="info__title"><%= add.text %></dt>
                        <dd class="info__item"><%= properValue %></dd>
                    <% } %>
                <% }); %>
            </dl>
        <% } %>
    <% } %>
</div>
