<% if (data.type === 'text') { %>
    <% if (data.link || data.abbr) { %>
        <p><%- helpers.createInlineTags(data); %></p>
    <% } else { %>
        <p><%= data.value; %></p>
    <% } %>
<% } %>
<% if (data.type === 'picture') { %>
    <div class="grid-two-by-two">
        <% data.value.forEach((subdata) => { %>
            <%- include('./figure', {data: subdata}); %>
        <% }); %>
    </div>
<% } %>
<% if (data.type === 'heading') { %>
    <%- include('./heading', {data: data}); %>
<% } %>
