<% if (locals.urlArr) { %>
    <%
        const {
            urlParams,
            urlArr
        } = locals;
        const len = urlParams.length;
    %>
    <nav aria-label="Breadcrumb Site hierarchy">
        <ol class="crumb">
            <li class="crumb__item">
                <% if (len === 0) { %>
                    Home
                <% } else { %>
                    <a class="crumb__link" href="/">Home</a>
                <% } %>
            </li>
            <% if (len > 0) { %>
                <% urlArr.forEach((data, i, arr) => { %>
                    <% if (i < len - 1) { %>
                        <li class="crumb__item">
                            <a class="crumb__link"
                               href="/<%= [...arr].slice(0, i + 1).join('/'); %>"><%= locals[urlParams[i]].trim(); %></a>
                        </li>
                    <% } else { %>
                        <li class="crumb__item"><b><%= locals[urlParams[i]]; %></b></li>
                    <% } %>
                <% }); %>
            <% } %>
        </ol>
    </nav>
<% } %>
