<figure class="fig">
    <button data-image-name="<%= data.name; %>" data-image-alt="<%= data.alt; %>" aria-expanded="false"
            aria-controls="modal-dialog"
            data-open-modal="true"
            class="btn btn__dialog no-js-hide-item">
        <svg data-image-name="<%= data.name; %>"
             aria-hidden="true"
             class="svg__magnify"
             width="35"
             height="35"
             data-open-modal="true"
             data-image-alt="<%= data.alt; %>"
             viewBox="-55 -45 625 625">
            <use href="#svg-magnify" data-open-modal="true" data-image-name="<%= data.name; %>"
                 data-image-alt="<%= data.alt; %>" />
        </svg>
        <span class="is-accessible-text">View larger image</span>
    </button>
    <picture>
        <source srcset="/images/<%= data.name; %>_small.jpg"
                media="(max-width: 320px)">
        <source srcset="/images/<%= data.name; %>_medium.jpg"
                media="(min-width: 321px)">
        <img class="img-res"
             src="iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="
             alt="<%= data.alt; %>"
             height="100%"
             sizes="(max-width: 360px) 300px, (max-width: 700px) 300px (min-width: 1000px) 325px">
    </picture>
    <figcaption class="fig__text" aria-hidden="true"><%= data.caption; %></figcaption>
</figure>
