<footer class="grid-post-footer ft">
    <h2 class="theta">About this site</h2>
    <nav aria-label="non content pages">
        <ul>
            <li><a href="/accessibility">Accessibility statement</a></li>
            <li><a href="/privacy">Privacy policy</a></li>
            <li><a href="/contact">Contact form</a></li>
        </ul>
    </nav>
</footer>
