<% if (data.type === "picture") { %>
    <ul>
        <% data.value.forEach((data) => { %>
            <li>
                <figure class="fig">
                    <picture>
                        <source srcset="/images/<%= data.name; %>_small.jpg"
                                media="(max-width: 320px)">
                        <source srcset="/images/<%= data.name; %>_medium.jpg"
                                media="(min-width: 321px)">
                        <img class="img-res"
                             src="iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNk+P+/HgAFhAJ/wlseKgAAAABJRU5ErkJggg=="
                             alt="<%= data.alt; %>"
                             height="100%"
                             sizes="(max-width: 360px) 300px, (max-width: 700px) 100%
                              (min-width: 1000px) 100%">
                    </picture>
                    <figcaption class="fig__text" aria-hidden="true"><%= data.caption; %></figcaption>
                </figure>


            </li>
        <% }); %>
    </ul>
<% } %>
