<h2 class="beta m-v m-t-vlarge"><%= data.title %></h2>
<ul class="m-v">
    <% if (!data.isDb) { %>
        <% data.linkData.values.forEach((item) => { %>
            <li><a href="<%= item.href %>"><%= item.text %></a></li>
        <% }); %>
    <% } else { %>
        <% data.linkData.forEach((item) => { %>
            <li id="<% item.verseParam %>>">
                <a href="<%= `/${item.titleParam}/${item.chapterParam}/${item.verseParam}` %>"><%= item.verseTitle %></a>
            </li>
        <% }); %>
    <% } %>
</ul>
