<div class="home-content">
    <h2 class="beta"><%= dataTitle; %></h2>
    <div class="home-content__outer container-card">
        <ol class="grid-card">
            <% dataArray.forEach((item) => { %>
                <% const { articlesJson } = item;
                    const {
                        bodyData,
                        titleParam,
                        chapterParam,
                        verseParam,
                        pageTitle,
                        verseTitle,
                        dateWalked,
                        distanceWalked
                    } = articlesJson;
                    const pictures = bodyData.filter(item => item.type === 'picture').reduce((acc, item) => {
                        acc = [...acc, ...item.value];
                        return acc;
                    }, []);

                    let selectedPicture;
					let selectedPictureData = {};
                    if (pictures.length) {
                        selectedPicture = pictures[Math.floor((Math.random() * pictures.length))];
                        selectedPictureData.src = `/images/${selectedPicture.name}_small.jpg`;
                        selectedPictureData.alt = selectedPicture.alt;
                    }

                    const date = helpers.createDate(dateWalked);
                    const distance = helpers.distance(distanceWalked);

										// make data for image here
                %>
                <li class="card">
                    <a class="card__link"
                       href="<%= titleParam; %>/<%= chapterParam; %>/<%= verseParam; %>">

                        <% if(selectedPicture) { %>
                            <%- include('./homepagefigure', {data: selectedPictureData}); %>
                        <% } else { %>
                            <div class="card__inner card__inner--icon">
                                <svg class="icon__no-image" viewBox="-30 -10 120 65" aria-hidden="true">
                                    <path d="M 2.9902344 1.9902344 A 1.0001 1.0001 0 0 0 2.2929688 3.7070312 L 46.292969 47.707031 A 1.0001 1.0001 0 1 0 47.707031 46.292969 L 44.414062 43 L 48 43 L 48 7 L 8.4140625 7 L 3.7070312 2.2929688 A 1.0001 1.0001 0 0 0 2.9902344 1.9902344 z M 2 7 L 2 43 L 38.707031 43 L 36.707031 41 L 4 41 L 4 33.435547 L 17.003906 21.296875 L 15.589844 19.882812 L 4 30.699219 L 4 9 L 4.7070312 9 L 2.7070312 7 L 2 7 z M 10.414062 9 L 46 9 L 46 36.585938 L 34.707031 25.292969 C 34.316031 24.901969 33.683969 24.901969 33.292969 25.292969 L 30 28.585938 L 10.414062 9 z M 35 15 A 3 3 0 0 0 35 21 A 3 3 0 0 0 35 15 z M 34 27.414062 L 46 39.414062 L 46 41 L 42.414062 41 L 31.414062 30 L 34 27.414062 z M 27.146484 31.439453 L 25.292969 33.292969 C 24.901969 33.683969 24.901969 34.316031 25.292969 34.707031 C 25.683969 35.098031 26.316031 35.098031 26.707031 34.707031 L 28.560547 32.853516 L 27.146484 31.439453 z"></path>
                                </svg>
                            </div>
                        <% } %>

                        <div class="card__inner">
                            <h2 class="card__heading card__heading--sized"><%= pageTitle; %>: <%= verseTitle; %></h2>
                            <p class="tiny-text "><%= distance; %> walked on the <%= date; %></p>
                        </div>
                    </a>
                </li>
            <% }) %>
        </ol>
    </div>
</div>
