<nav class="nav-image" aria-labelledby="images-nav">
    <h2 id="images-nav" class="is-accessible-text">Images nav</h2>
    <ul class="nav-image__list">
        <li class="nav-image__item">
            <a href="/images">Home</a>
        </li>
        <li class="nav-image__item">
            <a href="/images/selectImages">Select images</a>
        </li>
        <li class="nav-image__item">
            <a href="/images/uploaded">View images and json</a>
        </li>
    </ul>
</nav>
