<nav class="main-nav" aria-labelledby="main-nav">
    <h2 id="main-nav" class="is-accessible-text">Main navigation</h2>
    <ul class="main-nav__list">
        <li class="main-nav__item"><a class="main-nav__link" href="/">home</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="/walks">walks</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="/walks/lejog">LEJOG</a></li>
        <li class="main-nav__item"><a class="main-nav__link" href="/contact">Contact</a></li>
    </ul>
</nav>
