<script type="module" src="/javascript/base.mjs"></script>
<% if (locals.scripts) { %>
    <% locals.scripts.forEach((value) => { %>
        <script type="module" defer src="/javascript/<%= value; %>.mjs"></script>
    <% }); %>
<% } %>

