<main class="grid-post-main" id="main">
    <article id="article-page" class="container-article">
        <div class="grid-article">
            <h1 class="alpha"><%= pageTitle; %>: <%= verseTitle; %></h1>
            <div id="article-cont">
                <% bodyData.forEach((data) => { %>
                    <%- include('./partials/body', {data: data}); %>
                <% }); %>
                <% if (hasExternalLinks) { %>
                    <p><small>The content of external links cannot be quaranteed but was correct at the time of
                            writing</small></p>
                <% }; %>
            </div>
            <aside class="aside aside__article">
                <% if (locals.chapterParam.toLowerCase() === 'lejog') { %>
                    <%- include('lejog/nav'); %>
                <% } %>

                <% if (expectedAdditionalKeys) { %>
                    <% if (locals.titleParam.toLowerCase() === 'walks') { %>
                        <h2 class="beta">Additional info</h2>
                        <dl class="info">
                            <% expectedAdditionalKeys.forEach((key) => { %>
                                <%
                                    const add = expectedAdditional[key];
                                    const helper = helpers[add.helper];
                                    const localValue = locals[key];
                                    const properValue = helper ? helper(localValue) : localValue;
                                %>
                                <% if (localValue) { %>
                                    <dt class="info__title"><%= add.text; %></dt>
                                    <dd class="info__item"><%= properValue; %></dd>
                                <% } %>
                            <% }); %>
                        </dl>
                    <% } %>
                <% } %>

                <p class="tiny-text m-v">
                    <a href="/<%= locals.titleParam; %>/<%= locals.chapterParam; %>/<%= locals.verseParam; %>/gallery">
                        View all images of this days walk</a>
                </p>
            </aside>
            <footer class="verse-ft">
                <nav aria-label="Previous and Next links">
                    <ol class="grid-verse-nav">
                        <% prevAndNext.forEach((link) => { %>
                            <% if (link.verseIndex < verseIndex) { %>
                                <li class=grid-verse-nav__prev"><span>Previous:</span>
                                    <a class="verse-nav__link"
                                       href="/<%= titleParam; %>/<%= chapterParam; %>/<%= link.articleParam; %>"><%= link.article_title; %></a>
                                </li>
                            <% } else { %>
                                <li class="grid-verse-nav__next"><span>Next:</span>
                                    <a class="verse-nav__link"
                                       href="/<%= titleParam; %>/<%= chapterParam; %>/<%= link.articleParam; %>"><%= link.article_title; %></a>
                                </li>
                            <% } %>

                        <% }); %>
                    </ol>
                </nav>
            </footer>
        </div>
    </article>
</main>

<div id="modal-dialog" class="dialog-outer is-hidden" data-close-modal="true">
    <div class="dialog" aria-modal="true" role="dialog" aria-labelledby="dialog2_label" tabindex="-1">
        <h2 id="dialog2_label" class="dialog_label is-accessible-text">Large image</h2>
        <div class="dialog__cont">
            <img src="" alt="" class="dialog-img">
            <button class="btn btn__dialog btn__dialog--close" data-close-modal="true">Close</button>
        </div>
    </div>
</div>

