<main class="grid-post-main" id="main">
    <article id="article-page" class="container-article">
        <div class="grid-article">
            <h1 class="alpha">Gallery for <%= pageTitle; %>: <%= verseTitle; %> </h1>
            <div id="article-cont">
                <% bodyData.forEach((data) => { %>
                    <%- include('./partials/gallery', {data: data}); %>
                <% }); %>
            </div>
            <aside class="aside aside__article">
                <% if (expectedAdditionalKeys) { %>
                    <% if (locals.titleParam.toLowerCase() === 'walks') { %>
                        <h2 class="beta">Additional info</h2>
                        <dl class="info">
                            <% expectedAdditionalKeys.forEach((key) => { %>
                                <%
                                    const add = expectedAdditional[key];
                                    const helper = helpers[add.helper];
                                    const localValue = locals[key];
                                    const properValue = helper ? helper(localValue) : localValue;
                                %>
                                <% if (localValue) { %>
                                    <dt class="info__title"><%= add.text; %></dt>
                                    <dd class="info__item list-item--aside"><%= properValue; %></dd>
                                <% } %>
                            <% }); %>
                        </dl>
                    <% } %>
                <% } %>
                <% if (locals.chapterParam.toLowerCase() === 'lejog') { %>
                    <%- include('lejog/nav'); %>
                <% } %>
            </aside>
            <footer class="verse-ft">
                <nav aria-label="Previous and Next links">
                    <ol class="grid-verse-nav">
                        <% prevAndNext.forEach((link) => { %>
                            <% if (link.verseIndex < verseIndex) { %>
                                <li class=grid-verse-nav__prev"><span>Previous:</span>
                                    <a class="verse-nav__link"
                                       href="/<%= titleParam; %>/<%= chapterParam; %>/<%= link.articleParam; %>"><%= link.article_title; %></a>
                                </li>
                            <% } else { %>
                                <li class="grid-verse-nav__next"><span>Next:</span>
                                    <a class="verse-nav__link"
                                       href="/<%= titleParam; %>/<%= chapterParam; %>/<%= link.articleParam; %>"><%= link.article_title; %></a>
                                </li>
                            <% } %>

                        <% }); %>
                    </ol>
                </nav>
            </footer>
        </div>
    </article>
</main>


