<main class="grid-post-main" id="main">
    <article>
        <h1 class="alpha"><%= pageTitle; %></h1>
        <% introPara.forEach((data) => { %>
            <%- include('./partials/body', {data: data}); %>
        <% }); %>

        <% if (section && section.length > 0) { %>
            <h2 class="beta m-v m-t-vlarge"><%= titleParam === 'walks' ? 'Sections walked' : 'Items' %></h2>
            <ul class="verse-section">
                <% section.forEach((sec) => { %>
                    <li class="list-item list-item--section">
                        <a class="verse-section__link"
                           href="<%= `/${titleParam}/${chapterParam}/${sec.articleParam}` %>"><%= sec.article_title %></a>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <h2 class="beta m-v m-t-vlarge"><%= titleParam === 'walks' ? 'Sections walked' : 'Items' %></h2>
            <p>No sections walked, please check back in the future.</p>
        <% } %>

        <% if (additional) { %>
            <% additional.forEach((addition) => { %>
                <% if (addition.type === 'links') { %>
                    <%- include('./partials/headingAndListOfLinks', {data: {title: 'Useful links', linkData: addition, isDb: false}}); %>
                <% } %>
            <% }); %>
            <% if (hasExternalLinks) { %>
                <p><small>The content of external links cannot be quaranteed but was correct at the time of
                        writing</small></p>
            <% } %>
        <% } %>
    </article>
</main>
<% if (chapterParam === 'lejog')  { %>
    <%- include('./lejog/nav'); %>
<% } %>

