<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/meta'); %>
    <link rel="stylesheet" href="/stylemin/style.min.css">
</head>
<body class="js-not-enabled">
<svg class="is-accessible-text" aria-hidden="true">
    <symbol id="svg-no-image">
        <path d="M 2.9902344 1.9902344 A 1.0001 1.0001 0 0 0 2.2929688 3.7070312 L 46.292969 47.707031 A 1.0001 1.0001 0 1 0 47.707031 46.292969 L 44.414062 43 L 48 43 L 48 7 L 8.4140625 7 L 3.7070312 2.2929688 A 1.0001 1.0001 0 0 0 2.9902344 1.9902344 z M 2 7 L 2 43 L 38.707031 43 L 36.707031 41 L 4 41 L 4 33.435547 L 17.003906 21.296875 L 15.589844 19.882812 L 4 30.699219 L 4 9 L 4.7070312 9 L 2.7070312 7 L 2 7 z M 10.414062 9 L 46 9 L 46 36.585938 L 34.707031 25.292969 C 34.316031 24.901969 33.683969 24.901969 33.292969 25.292969 L 30 28.585938 L 10.414062 9 z M 35 15 A 3 3 0 0 0 35 21 A 3 3 0 0 0 35 15 z M 34 27.414062 L 46 39.414062 L 46 41 L 42.414062 41 L 31.414062 30 L 34 27.414062 z M 27.146484 31.439453 L 25.292969 33.292969 C 24.901969 33.683969 24.901969 34.316031 25.292969 34.707031 C 25.683969 35.098031 26.316031 35.098031 26.707031 34.707031 L 28.560547 32.853516 L 27.146484 31.439453 z"></path>
    </symbol>
    <symbol id="svg-magnify">
        <path d="M441.391 398.682 276.917 234.209c16.282-24.491 25.028-53.193 25.028-83.253 0-40.31-15.713-78.229-44.236-106.744C229.211 15.704 191.315 0 150.981 0 110.655 0 72.735 15.704 44.212 44.211 15.705 72.734.009 110.646.009 150.956c0 40.318 15.696 78.229 44.211 106.753 28.523 28.507 66.427 44.211 106.744 44.211 30.076 0 58.778-8.746 83.261-25.004L398.65 441.349c5.698 5.714 13.29 8.868 21.37 8.868 8.064 0 15.648-3.129 21.386-8.844 11.739-11.786 11.739-30.929-.015-42.691zM220.326 220.317c-18.525 18.517-43.146 28.726-69.361 28.726-26.19 0-50.82-10.209-69.353-28.726-18.533-18.533-28.735-43.163-28.735-69.361 0-26.207 10.201-50.828 28.726-69.353 18.533-18.533 43.171-28.735 69.369-28.735 26.207 0 50.828 10.201 69.361 28.735 18.517 18.517 28.71 43.138 28.71 69.353.001 26.198-10.192 50.828-28.717 69.361z" />
        <path d="M207.475 144.258h-45.512v-45.52c0-3.942-3.203-7.129-7.153-7.129-3.926 0-7.137 3.195-7.137 7.129v45.52h-45.52c-3.942 0-7.129 3.195-7.129 7.137s3.186 7.145 7.129 7.145h45.52v45.512c0 3.942 3.211 7.145 7.137 7.145 3.95 0 7.153-3.203 7.153-7.145V158.54h45.512c3.95 0 7.153-3.203 7.153-7.145s-3.203-7.137-7.153-7.137z" />
    </symbol>
</svg>
<a href="#main" class="skip-to-content-link">Link to main content</a>


<%
    let containerCss = locals?.cssOptions?.container ? locals.cssOptions.container : 'grid-post' ;
%>

<div class="container <%- containerCss %> ">
    <header class="grid-post-header grid-generic">
        <div class="header-cont">
            <!--            <div class="svg" aria-hidden="true">-->
            <!--                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 535.88 535.88" width="80" height="100">-->
            <!--                    <path d="M171.033 114.14c19.852-3.873 32.742-23.151 28.869-43.002-3.873-19.852-23.046-32.751-42.897-28.879-19.842 3.873-32.866 23.055-28.984 42.907 3.873 19.852 23.18 32.847 43.012 28.974z" />-->
            <!--                    <path d="M505.214 346.433c-5.805-10.892-15.176-10.863-20.923.058l-7.114 13.521c-5.757 10.92-20.416 19.775-32.752 19.775h-16.763c-12.346 0-29.644 6.847-38.643 15.28l-32.445 30.438c-3.806 3.567-9.027 6.178-14.621 7.765.765-1.635 1.1-3.471.698-5.297L291.09 92.959l-.22-.631c-1.491-4.284-6.263-6.684-10.662-5.145-3.959 1.377-5.929 5.527-5.422 9.696l15.902 103.16-51.962-2.773-26.641-57.241c-4.485-9.639-16.715-17.012-27.33-16.486l-33.689 3.05c-3.021.153-5.862 1.052-8.443 2.419-7.306-.937-15.721 2.142-22.396 5.527-.144-.296-.306-.564-.459-.851 4.246-5.9 6.206-13.426 4.705-21.114-2.878-14.745-17.212-24.403-31.958-21.516C77.77 93.935 68.122 108.269 71 123.014c1.147 5.891 4.179 10.901 8.271 14.697-2.085 3.223-3.146 6.78-2.353 10.29 3.395 15.013 7.143 35.257 5.326 45.575-3.079 17.652-15.692 61.21 7.449 61.821 13.206.354 27.387-2.858 37.141-5.689l-7.774 182.903c.029 1.807.249 3.509.583 5.192.411 2.123 1.147 4.093 2.018 5.967l-11.771 9.668c-9.543 7.822-26.67 10.729-38.25 6.483l-30.81-11.304c-11.58-4.245-25.608 1.167-31.336 12.097l-7.201 13.799c-5.728 10.939-.354 19.795 11.982 19.795h486.004c12.336 0 24.309-9.812 26.728-21.908l7.994-39.98c2.419-12.097-.325-30.734-6.139-41.626l-23.648-44.361zM101.418 136.688c-6.235 1.214-12.335-.784-16.687-4.781-.22-.22-.488-.402-.708-.622-.115-.115-.201-.249-.296-.354-.842-.946-1.616-1.941-2.276-3.041-2.391-3.978-2.993-8.683-1.721-13.254 1.271-4.513 4.236-8.367 8.367-10.844 3.385-2.037 7.354-2.706 11.14-1.865 3.834.851 7.038 3.127 9.008 6.426 1.645 2.744 2.065 5.996 1.195 9.151-.87 3.117-2.907 5.766-5.737 7.458-4.935 2.945-11.255 1.511-14.085-3.213-2.41-4.016-.976-9.324 3.203-11.829 3.567-2.161 8.157-1.081 10.213 2.362 1.788 2.974.727 6.904-2.353 8.75a9.774 9.774 0 0 1-.43.239c-.239.115-.096.105.296-.067.229-.105.459-.22.688-.354 1.769-1.062 3.041-2.706 3.577-4.619.526-1.875.277-3.787-.679-5.403-1.291-2.142-3.395-3.644-5.929-4.198-2.582-.573-5.288-.114-7.631 1.291-3.06 1.836-5.259 4.686-6.196 8.023-.918 3.28-.488 6.646 1.214 9.486 2.209 3.681 5.804 6.234 10.136 7.191 4.379.995 8.96.201 12.928-2.18 3.223-1.922 5.718-4.542 7.564-7.468-1.93 6.754-7.428 12.272-14.801 13.715zm21.755 6.847c-.077-.468-.268-.86-.363-1.32 3.461-1.807 7.334-3.519 11.016-4.523-1.52 2.764-2.496 5.824-2.61 9.084l-1.625 38.154-6.418-41.395zm68.314 290.041-19.221-6.694c-.43-.152-.918-.22-1.367-.354l5.9-139.832 68.955 132.87c1.616 3.529 4.036 6.513 6.923 8.903l-18.743 5.823c-11.799 3.663-30.79 3.339-42.447-.716zm110.935-6.445c-3.748-1.358-8.291-2.267-13.082-2.831 4.342-5.651 6.389-13.005 4.916-20.588-.373-1.912-.957-3.652-1.646-5.44l-86.225-169.458.688-21.869 6.971 15.749c5.46 10.05 15.462 9.228 15.462 9.228l61.41 3.414a18.943 18.943 0 0 0 3.558-.345c.535-.104 1.023-.315 1.539-.459l30.428 197.39c.067.21.039.459.077.563.315.909.842 1.664 1.405 2.382-3.041-.191-5.995-.698-8.654-1.664l-16.847-6.072z" />-->
            <!--                </svg>-->
            <!--            </div>-->
            <p class="title">Jay Walking<span aria-hidden="true">...</span></p>
        </div>
        <%- include('./partials/nav'); %>
    </header>
    <div class="grid-post-nav">
        <%- include('./partials/breadcrumb'); %>
    </div>
    <%- body; %>
    <%- include('./partials/footer'); %>
</div>
<%- include('./partials/scripts'); %>
</body>
</html>
