<main id="main">
    <article>
        <h1 class="alpha"><%= pageTitle; %></h1>
        <div class="m-v-b-massive">
            <% introPara.forEach((data) => { %>
                <%- include('./partials/body', {data: data}); %>
            <% }); %>
        </div>
        <% if (rows && rows.length) { %>
            <form method="GET" action="/walks" class="search-form flex">
                <fieldset>
                    <legend class="is-accessible-text"><h2>Sort list of walks</h2></legend>
                    <label for="sortby" class="search-form__label">Sort by</label>
                    <select id="sortby" name="sortby" class="select search-form__select">
                        <option>Sort by</option>
                        <% Object.entries(sortedByData).forEach((data) => { %>
                            <% if (data[0] === sortbyValue) { %>
                                <option value="<%= data[0]; %>" selected="selected"><%= data[1]; %></option>
                            <% } else { %>
                                <option value="<%= data[0]; %>"><%= data[1]; %></option>
                            <% } %>
                        <% }); %>
                    </select>
                </fieldset>
                <button type="submit" class="btn btn__submit btn__small">Sort</button>
            </form>
            <div class="container-card">
                <ol class="grid-card">
                    <% rows.forEach((row) => { %>
                        <%
                            const jsonData = row.jsonData;
                            const { chapterParam, introPara, pageTitle, dateStarted } = jsonData;
                            const dateStartedText = helpers.createShortDate(dateStarted);
                            // name data for image here
                            const selectedPictureData = {
                                src: `/images/${chapterParam}_home_thumb.jpg`,
                                alt: pageTitle
                            };
                        %>
                        <li class="card" data-id="<%= `${chapterParam}`; %>">
                            <a href="<%= `/${jsonData.titleParam}/${chapterParam}`; %>"
                               class="card__link"
                               aria-label="Read more about <%= pageTitle; %>">
                                <%- include('./partials/homepagefigure', {data: selectedPictureData}); %>
                                <div class="card__inner">
                                    <h2 class="card__heading"><span
                                                class="is-accessible-text">Read more about </span><%= pageTitle; %></h2>
                                    <p class="tiny-text"><span class="is-accessible-text">Date started </span>
                                        <time datetime="<%= dateStarted; %>">
                                            <%= dateStartedText; %>
                                        </time>
                                    </p>
                                    <p class="truncate"><%= introPara[0].value; %></p>
                                </div>
                            </a>
                        </li>
                    <% }); %>
                </ol>
            </div>
        <% } %>
    </article>
</main>
