:root {
    /* font family */
    --font-family: 'Open Sans', Arial, Verdana, sans-serif;

    /* widths and heights */
    --min-width: 30rem;
    /** pre-width was 33rem removed as can just use 100% */
    --pre-width: 100%;
    --max-width: 100%;
    /* spacings */
    --base-padding: 1.6rem;
    --layout-spacing: 1rem;
    --base-spacing: 1.6rem;
    --def-padding-base: 0.5rem;
    --def-padding-vert: 0.5rem;
    --def-padding-hori: 0.5rem;
    --default-padding-vert-hori: var(--def-padding-vert) var(--def-padding-hori);

    --m-v-b-large: 0 0 calc(var(--def-padding-vert) * 4) 0;
    --m-large: calc(var(--def-padding-vert) * 4) 0  calc(var(--def-padding-vert) * 4)  calc(var(--def-padding-vert) * 4);
    --m-medium : calc(var(--def-padding-vert) * 3);

    /* fonts-sizes mobile */
    --xlarge-font-size: 2.6rem;
    --large-font-size: 2.4rem;
    --medium-font-size: 2rem;
    --medium-font-size-sml: 1.8rem;
    --base-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --tiny-font-size: 1.2rem;

    /* headings / font weights */
    --base-heading-fw: 400;
    --emphasis-heading-fw: 600;

    /* colours */
    --text-error: #8b1923;
    --text-dk-grey: #333;
    --text-mid-grey: #666;
    --text-lt-grey: #999;

    --main-border-colour: #eaeaea;
    --secondary-border-colour: #666;
    --main-background-colour: #fff;
    --body-background: rgba(0, 0, 0, 0.1);
    --body-background-dk: rgba(0, 0, 0, 0.2);
    --stripe-colour: rgba(0, 0, 0, 0.1);
    --stripe-colour-odd: #fff;
    --bg-border: #fff;

    /* reused generic styles */
    --default-border: 1px solid var(--main-border-colour);
    --secondary-border: 1px solid var(--secondary-border-colour);

    --default-box-shadow: 3px 3px 5px 0px rgba(46,41,41,0.1);

    --focus-inner-color: hsla(210, 52%, 42%, 1.00);
    --focus-outer-color: hsla(200, 72%, 83%, 0.75);

    /* forms */
    --form-width: 17.5rem;

    --verseNavDisplay: block;

    --body-bg: #f9f9f9;
    --lovely-blue: #355675;
    --lovely-green: #00703c;

    --shadow-width: 5px;


    accent-color: var(--focus-inner-color);
    --checkable-colour: var(--focus-inner-color);
    --checkable-dimension: 22px;
}

/* data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw== */
body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dt, dd, dl, figure {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

abbr {
    text-decoration: none;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    background: var(--body-bg);
    padding: 0;
    margin: 0;
    font-size: var(--base-font-size);
    line-height: 1.5;
    color: #000;
}

* {
    box-sizing: border-box;
}

.container {
    padding: 0 var(--layout-spacing);
    width: clamp(var(--min-width), var(--pre-width), var(--max-width));
    border: var(--default-border);
    background: #fff;
}

main {
    padding: 0 0 var(--base-spacing) 0;
}

footer {
    border-top: var(--default-border);
    padding: var(--base-spacing) 0;
}

p {
    margin: 0 0 var(--base-spacing) 0;
}

.title {
    font-size: var(--xlarge-font-size);
    margin: var(--base-padding) 0;
    /*text-shadow: 0 0 var(--shadow-width) var(--lovely-blue), 0 0 var(--shadow-width) var(--lovely-blue), 0 0 var(--shadow-width) var(--lovely-blue), 0 0 var(--shadow-width) var(--lovely-blue);*/
    letter-spacing: 0.1rem;
    color: var(--lovely-blue);
}

input[type="button"] {
    margin: 5px;
}

.listy {
    margin: 0 0 1.5rem 0;
}

.no-crumb {
    margin: 25px;
    min-height: 250px;
}

.stroked {
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
    letter-spacing: 0.1rem;
}

.header-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}
