.btn {
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--body-background-dk);
    color: #fff;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1.6rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn__small {
    padding: calc(var(--def-padding-base));
    font-size: 1.4rem;
}

.btn__active {
    background: var(--lovely-green);
    color: white;
}

.btn:is(:focus, :active ){
    outline: none;
    border: 2px solid black;
    background: yellow;
    color: black;
}

.btn-icon {
    background: none;
    border: none;
    padding: 0;
}

.btn__dialog {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    width: 3.5rem;
    height: 3.5rem;
    display: block;
    padding: 0;
    border-radius: 0;
}

.btn__dialog--close {
    background: rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    top: 10px;
    right: 10px;
    width: auto;
}

.btn__submit {
    background: var(--lovely-blue);
    color: white;
    float: right;
}

