.card {
    border: var(--default-border);
    box-shadow: var(--default-box-shadow);
    padding-top: 1rem;
}

.card__inner {
    padding: var(--default-padding-vert-hori);
}

.card__inner--img {
    display: flex;
    justify-content: center;
}

.card__inner--icon {
    max-height: 178px;
}

.card__link {
    text-decoration: none;
    display: block;
    line-height: 1.3;
    transition: background-color 0.3s ease;
    color: inherit;
    text-decoration: inherit;
}

.card__link:hover {
    background: rgba(0, 0, 0, 0.02);
}

.card__heading {
    line-break: normal;
    font-size: 1.5rem;
    margin: 0 0 5px 0;
}

.card__heading--sized {
    height: 35px;
}

.card__text:hover {
    color: var(--lovely-blue)
}
