.search-form {
    padding: 0 0 calc(var(--def-padding-vert) * 4) 0;
    justify-content: flex-end;
    align-content: flex-end;
}

.search-form__select {
    margin: 0 calc(var(--def-padding-vert) * 2) 0 0;
}

.search-form__label {
    margin: 0 calc(var(--def-padding-vert) * 2) 0 0;
    cursor: pointer;
}
