.crumb {
    margin: var(--def-padding-vert) 0 calc(var(--def-padding-vert) * 5) 0;
    padding: calc(var(--def-padding-vert) * 2) 0;
    border-bottom: 1px solid var(--main-border-colour);
    text-transform: capitalize;
    font-size: var(--small-font-size);
}

.crumb__item {
    display: inline;
}

.crumb__link {
    position: relative;
    display: inline-block;
    padding: 0 1.4rem 0 0;
}

.crumb__link:hover {
    text-decoration: none;
}

.crumb__link:after {
    position: absolute;
    display: block;
    content: '>';
    width: 1rem;
    height: 2rem;
    right: -0.1rem;
    top: 1px;
}
