.dialog-outer {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 2% 5% 5% 5%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
}

.dialog {
    border: 3px solid black;
    height: clamp(496px, 566px, 708px);
    width: clamp(660px, 802px, 944px);
}

.dialog::backdrop {
    background: repeating-linear-gradient(
            45deg,
            rgba(000, 0, 0, 0.2),
            rgba(000, 0, 0, 0.2) 1px,
            rgba(000, 0, 0, 0.3) 1px,
            rgba(000, 0, 0, 0.3) 20px
    );
    cursor: pointer;
}

.dialog__cont {
    position: relative;
    height: 100%;
    width: 100%;
    box-shadow: -5px 5px 5px 0 #59594E,
    5px -5px 5px 0 #59594E;
}

.dialog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
