

.form {
    width: 100%;
    margin: 0 0 calc(var(--def-padding-vert) * 4) 0;
}

legend {
    font-weight: 600;
}

.fieldset__col {
    display: flex;
    flex-direction: column;
    margin: 0 0 2rem 0;
}

.fieldset__bordered {
    border: var(--default-border);
    background: white;
    padding: 1rem;
    margin-bottom: 2rem;
}

.input {
    padding: calc(var(--def-padding-vert) * 1.75);
    border: var(--secondary-border);
    font-size: var(--base-font-size);
    display: block;
    width: 100%;
}

.input__sml {
    padding: calc(var(--def-padding-vert));
}

.input__tiny {
    width: 30%;
}

.textarea {
    width: 100%;
    min-height: 15rem;
    font-size: var(--base-font-size);
    padding: calc(var(--def-padding-vert) * 1.75);
    border: var(--secondary-border);
}

.input__error {
    border-color: var(--text-error);
    border-width: 2px;
}

.input__error--container {
    border-left: solid;
}

.input-group-error {
    border-left: 2px solid var(--text-error);
}

.input-container {
    padding: var(--m-large);
}

.input-container__error {
    border-left: var(--def-padding-vert) solid var(--text-error);
    margin-left: var(--m-medium);
}

.input__inline {
    width: 25rem;
    display: inline-block;
}

.input__inline-large {
    width: 50rem;
}

.input-wrap {
    margin: 0 0 1.5rem 0;
    width: 45rem;
}

.select {
    padding: 0.5rem;
    font-size: var(--base-font-size);
}

.select:focus {
    box-shadow: 0 0 0 2px var(--focus-inner-color),
    0 0 0 .6rem var(--focus-outer-color);
}

.textarea__small {
    width: 80%;
}

.label {
    font-size: var(--base-font-size);
    padding: var(--def-padding-vert);
    cursor: pointer;
    display: block;
}

.label--upper {
    text-transform: capitalize;
}

.label--radio {
    padding: 0;
    display: inline-block;
}

.label-small {
    font-size: var(--tiny-font-size);
    margin-left: 0;
}

.label__inline {
    width: 11rem;
    display: inline-block;
}

.form-indent {
    margin: 0 0 0 var(--form-width);
}

/** https://www.quackit.com/css/grid/examples/css_grid_form_examples.cfm **/
.input-wrap-inner {
    display: grid;
    grid-template-columns:  0.5fr 2.3fr 0.5fr 2.3fr .5fr 2.3fr;
    grid-template-rows: 30px;
    grid-gap: 1rem .5rem;
    width: 100%;
    margin: 0 0 1.2rem 0;
}

.input-wrap-text {
    display: grid;
    grid-template-columns:  0.5fr 5.5fr 0.5fr;
    grid-template-rows: auto;
    grid-gap: 0.5rem .5rem;
    width: 100%;
    margin: 0 0 1.2rem 0;
}

.input-wrap-inner-aside {
    display: grid;
    grid-template-columns:  1fr 3fr 1fr 3fr .75fr .75fr;
    grid-template-rows: 30px;
    grid-gap: 0.5rem .5rem;
    width: 100%;
    margin: 0 0 1.2rem 0;
}

.fieldset summary + * {
    margin-top: 1.5rem;
}

/*input[type="radio"]:focus {*/
/*    outline: none;*/
/*    border-color: var(--focus-inner-color);*/
/*    box-shadow: 0 0 0 3px var(--focus-inner-color),*/
/*    0 0 0 3px var(--focus-outer-color);*/
/*}*/

/** https://css-tricks.com/custom-styling-form-inputs-with-modern-css-features/ **/

.checkbox,
.radio {
    height: var(--checkable-dimension);
    width: var(--checkable-dimension);
    outline: none;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    cursor: pointer;
}

/** sets custom properties */
.checkbox:checked,
.radio:checked {
}


.checkbox + label,
.radio + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
}




