.container__fill-width,
.grid-post {
    --colTemCol: 100%;
    --gridGap: var(--layout-spacing);

    display: grid;
    grid-template-columns: var(--colTemCol);
    grid-template-rows: auto auto auto auto;
    grid-gap: var(--gridGap);
    grid-template-areas:
        "header"
        "nav"
        "postmain"
        "postside"
        "postfooter";
}

.grid-post-header {
    grid-area: header;
    border-bottom: 1px solid var(--main-border-colour);
}

.svg {
    margin: 0 var(--base-padding) 0 0;
}

.svg > svg {
    fill: var(--lovely-blue);
}

.grid-post-footer {
    grid-area: postfooter;
}

.grid-post-side {
    grid-area: postside;
}

.grid-post-nav {
    grid-area: nav;
}

.grid-post-main {
    grid-area: postmain;
}

.grid-generic,
.grid-two-by-two {
    --colTemCol: 100%;
    --colCount: 1;
    --colGap: 0;
    --rowGap: 0;

    display: grid;
    grid-template-columns: var(--colTemCol);
    column-count: var(--colCount);
    column-gap: var(--colGap);
    row-gap: var(--rowGap);
}

.grid-card {
    display: grid;
    grid-row-gap: var(--layout-spacing);
    /*width: clamp(var(--min-width), 75%, 850px);*/
}

.form-grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    margin: 0 10px 0 0;
    min-height: 0; /* NEW */
    min-width: 0; /* NEW; needed for Firefox */
}

.form-grid__bordered {
    border: 1px solid black;
    padding: 1rem;
}

.form-grid__image {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: span 1;
    height: 130px;
}

.header {
    display: grid;
}

.flex {
    display: flex;
}

.flex-aligned {
    align-items: center;
    justify-content: space-between;
}
