.icon {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
}

icon--inline-b {
    display: inline-block;
}

.icon__lowered {
    bottom: -5px;
}

/* force events to use link */
.icon > * {
    pointer-events: none;
}

.svg-icon {
    width: inherit;
    height: inherit;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: black;
}

.svg-icon circle {
    stroke: black;
    stroke-width: 2;
}

.svg__magnify {
    fill: #fff;
}
