/** add flex class instead of this */
.fig {
    margin: var(--base-spacing) 0 calc(var(--base-spacing) * 2);
    display: flex;
    flex-direction: column;
    position: relative;
}

.fig__text {
    font-size: var(--small-font-size);
    color: var(--text-dk-grey);
}

.pic-res {
    margin: 0;
}

.img-res {
    object-fit: cover;
    border: var(--secondary-border);
    max-width: 100%;
    margin-inline: auto;
    aspect-ratio: 16/9;
}

.img-res__no-border {
    border: none;
}

.img-res__home {
    object-fit: cover;
}

.icon-outer {
    height: 203px;
}

.icon__no-image {
    border: var(--secondary-border);
}
