a {
    color: var(--lovely-blue);
    text-decoration: underline;
    text-underline-offset: 0.25em;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:active,
a:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--focus-inner-color),
    0 0 0 .6rem var(--focus-outer-color);
}

.bread {
    position: relative;
    padding: 0 1rem 0 0;
}

.fat-link {
    display: block;
    padding: var(--base-padding);
}

.fat-link:hover {
    background: rgb(102, 102, 102);
    color: #fff;
}

/* used on link needs a better name */
.link-error {
    color: var(--text-error);
    display: block;
}

.no-hover,
.no-hover:hover {
    text-decoration: none;
}
