/**
for lists such as definition lists etc
 */
.list {
    font-size: var(--base-font-size);
}

.list--bulleted {
    list-style: disc;
    padding: 0 0 0 4rem;
}

.list-title {
    font-weight: var(--emphasis-heading-fw);
    text-transform: capitalize;
    padding: var(--default-padding-vert-hori);
    box-sizing: border-box;
}

.list-item {
    padding: var(--default-padding-vert-hori);
    margin: 0 0 var(--def-padding-vert) 0;
    box-sizing: border-box;
}

.list-item--section {
    text-transform: capitalize;
    padding: 0;
}

.list-item--aside {
    text-transform: lowercase;
}

.list-item--aside:first-letter {
    text-transform: uppercase;
}

.list-item__link {
    margin-bottom: 0;
    padding: 0;
}

.info {
    font-size: var(--small-font-size);
    color: var(--text-dk-grey);
    border: 1px solid var(--main-border-colour);
    border-bottom-width: 0;
    background: #fff;
}

.info__item {
    padding: 0 var(--def-padding-base) var(--def-padding-base);
    box-sizing: border-box;
    border-bottom: var(--default-border);
}

.info__title {
    font-weight: var(--emphasis-heading-fw);
    text-transform: capitalize;
    padding: var(--default-padding-vert-hori);
    box-sizing: border-box;
}

/** display none **/
li a[data-type="add"] {
    display: none;
}

li:last-of-type a[data-type="add"] {
    display: grid;
}

.lejog-nav__item {

}
