.main-nav {
    --nav-background: var(--lovely-blue);
    --nav-border-colour: var(--bg-border);
    background: var(--nav-background);
    border: solid var(--nav-border-colour);
    border-width: 1px 0;
}

.main-nav__item:not(:last-of-type) {
    border: solid var(--main-border-colour);
    border-width: 0 0 2px 0;
}

.main-nav__link {
    text-transform: uppercase;
    padding: 0.4rem 1.2rem;
    display: block;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1.2px;
}

.main-nav__link--alt {
    text-transform: none;
    letter-spacing: 0;
}


.main-nav__link:is(:hover, :active) {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.lejog-nav {
    margin: 0 0 var(--base-spacing) 0;
    border: 1px solid var(--body-background-dk);
}

.lejog-nav__heading {
    padding: 0.4rem 1.2rem;
    margin: 0;
    font-size: var(--base-font-size);
    color: #fff;
    background: var(--lovely-blue);
}

.lejog-nav__link {
    padding: 0.4rem 1.2rem 0 1.2rem;
    display: block;
    text-decoration: none;
    color: var(--text-mid-grey);
}

.lejog-nav__link:hover,
.lejog-nav__link:active {
    background: rgba(0, 0, 0, 0.2);
    text-decoration: underline;
}

.verse-nav__link {
    text-transform: capitalize;
}

.xxxx {
    border-bottom: 1px solid var(--main-border-colour);
    padding: 0 0 0.4rem 0;
}

.nav-image {
    margin: 0 0 var(--base-spacing) 0;
}

.nav-image__list {
    display: flex;
    gap: 0 1rem;
    margin: 0 0 calc(var(--base-spacing) * 2) 0;
}

.nav-image__item {
    border-right: 2px solid var(--main-border-colour);
    padding: 0 1rem 0 0;
}

.nav-image__item:last-of-type {
    border: none;
}
