th {text-align: left}

td, th  {
    padding: 3px 5px;
}
table {
    border: var(--secondary-border);
    border-spacing: 0;
    border-bottom: none;
}

th,
td {
    border-bottom: 1px solid var(--secondary-border-colour);
    font-size: 1.4rem;
}

.td-heading {
    background: var(--main-border-colour);
    padding: calc(var(--base-spacing) * 1.2) 10px 8px 10px;
    font-size: var(--medium-font-size);
}

.th-non-bold {
    font-weight: normal;
}
