/**
    heading styles alpha, beta,theta, \
    .Alpha Beta Gamma Delta Epsilon Zeta
 */
.alpha, .beta, .theta, .delta {
    /* font-family: basic-sans, Helvetica, Arial, sans-serif;*/
    font-family: basic-sans, Helvetica, Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 var(--base-spacing) 0;
    /*padding: 0 0.5rem 0 0;*/
    text-transform: capitalize;
    display: block;
    color: var(--text-dk-grey);
}

.alpha {
    font-size: var(--xlarge-font-size);
}

.beta {
    font-size: var(--large-font-size);
}

.theta {
    font-size: var(--medium-font-size);
}

.delta {
    font-size: var(--medium-font-size-sml);
}

.has-error,
.is-error {
    color: var(--text-error);
    margin: 0 0 1rem 0;
}

.tiny-text {
    font-size: var(--small-font-size);
    color: var(--text-dk-grey);
}

.json {
    font-size: 11px;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
    background: white;
}

.text-error {
    font-size: 1.6rem;
    color: var(--text-error);
    font-weight: 600;
}
