.no-js-show-item {
    display: none;
}

.is-accessible-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.skip-to-content-link {
    height: 30px;
    left: -100%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
}

.skip-to-content-link:focus {
    left: 0;
    transform: translateY(0%);
}

.is-capitalised {
    text-transform: capitalize;
}

.is-block-spacing {
    margin: 0 0 1.5em 0;
    display: block;
}

.is-hidden-block {
    height: 1rem;
    display: block;
    overflow: hidden;
}

.is-inline-b {
    display: inline-block;
}


.is-block {
    display: block;
}

.is-hidden {
    display: none;
}

.is-hovered {
    background: var(--body-background-dk);
}

.is-inline {
    display: inline;
}

/** creates a striped table, list etc */
.striped {
    background: var(--stripe-colour);
    border: 1px solid var(--main-border-colour);
    border-bottom: none;
}

/* only targets direct children not inner children */
/*.striped > * {*/
/*    border-bottom: 1px solid var(--main-border-colour);*/
/*}*/

.striped > *:nth-of-type(odd) {
    background: var(--stripe-colour-odd);
}

.bordered {
    border: 1px solid var(--main-border-colour);
}

.bordered__no-bottom {
    border-width: 1px 1px 0 1px;
}

.bordered-bottom {
    border-bottom: var(--default-border);
}


/*
    --base-padding: 1.4rem;
    --layout-spacing: 1.4rem;
    --base-spacing: 1.4rem;
    --def-padding-vert: 0.5rem;
    --def-padding-hori: 0.5rem;
 */

/**
    normal is 5px
    medium is 10px
    semi-large is 15px
    large is 20px
    xlarge is 25px
 */

/* generic margin */

.m0 {
    margin: 0 !important;
}

.m-v {
    margin: var(--base-padding) 0;
}

.m-t--med {
    margin-top: calc(var(--base-spacing) * 2);
}

.m-v-large {
    margin: calc(var(--def-padding-vert) * 4) 0;
}

.m-t-vlarge {
    margin: calc(var(--def-padding-vert) * 6) 0 0;
}

.m-t-vmed {
    margin-top: calc(var(--def-padding-vert) * 4);
}

.m-v-b-med {
    margin: 0 0 calc(var(--def-padding-vert) * 2) 0;
}

.m-v-b-large {
    margin: 0 0 calc(var(--def-padding-vert) * 4) 0;
}

.m-v-b-massive {
    margin: 0 0 calc(var(--def-padding-vert) * 6) 0;
}

.m-v-t-b-large {
    margin: calc(var(--def-padding-vert) * 4) 0;
}

/* generic padding */
.u-p {
    padding: var(--default-padding-vert-hori);
}

.p-large {
    padding: calc(var(--def-padding-vert) * 4);
}

.p-v {
    padding: var(--def-padding-vert) 0;
}

.p-v-large {
    padding: calc(var(--def-padding-vert) * 4) 0;
}

/* resets to remove padding or margin */
.reset-p {
    padding-top: 0;
    padding-bottom: 0;
}

.reset-m-v {
    margin-top: 0;
    margin-bottom: 0;
}

.reset-p-top {
    padding-top: 0;
}

/**
    we need special ways to deal with striped definition lists
    that aren't wide
    so indicate with an is-dl class
    this is only on mobile
    can extend with extra classes?
    maybe make a special class for dl then no over-rides
 */
.is-dl.striped > dt {
    background: var(--stripe-colour);
}

.is-dl.striped > dt + dd {
    background: var(--stripe-colour-odd);
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.form-wrap {
    position: absolute;
    left: 9999rem;
}
