.container-contact {
    container: contactForm / inline-size;
}

.container-card {
    container: cardContainer / inline-size;
}

.container-article {
    container: articleContainer / inline-size;
}
/* this should go in z-media */
@container  contactForm (inline-size > 550px) {
    .form {
        width: min(65%);
    }
}

@container cardContainer (inline-size > 550px) {
    .grid-card {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: var(--layout-spacing);
        grid-row-gap: calc(var(--layout-spacing) * 1.5);
    }
}

@container cardContainer (inline-size > 760px) {
    .grid-card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@container articleContainer (inline-size > 550px) {
    .grid-article {
        display: grid;
        grid-template-columns: minmax(200px, 40%) minmax(200px, 40%) 25%;
        column-gap: calc(var(--base-padding) * 1.5);
        grid-template-areas:
            "header header aside"
            "content content aside"
            "footer footer .";
    }
    h1 {
        grid-area: header;
    }


    #article-cont {
        grid-area: content;
    }

    .aside {
        grid-area: aside;
    }

    .aside__article {
        margin-top: 1rem
    }

    footer {
        grid-area: footer;
    }
}
