/**
    these 35rem should be defaults?
    otherwise we go for 350
    57 - tablet landscape phones, 576px and up
    76 -  larger tablet Medium devices (tablets, 768px and up
    99 - desktop desktops, 992px and up
 */


@media only screen and (min-width: 550px) {
    :root {
        --min-width: 45rem;
        --layout-spacing: 1.6rem;
        /*--pre-width: 100%;*/
        --verseNavDisplay: flex;
    }

    .img-res {
        margin: 0;
    }

    .grid-post {
        --colTemCol: 2fr 1fr;
        --gridGap: 0 calc(var(--base-padding) * 1.5);
        grid-template-areas:
        "header header"
        "nav nav"
        "postmain postside"
        "postfooter postfooter";
    }

    .grid-post-header {
        min-height: 145px;
    }

    .header-cont {
        padding: var(--base-spacing) 0;
    }

    .grid-verse-nav {
        display: grid;
        column-count: 2;
        grid-template-areas: "prev next"
    }

    .grid-verse-nav__next {
        text-align: right;
        grid-area: next;
    }

    .grid-verse-nav__prev {
        text-align: right;
        grid-area: prev;
    }

    /* aligns top of title text with top of image */
    .pic-res {
        margin: 0 var(--base-padding) 0 0;
    }

    .truncate {
        -webkit-line-clamp: 3;
    }

    td, th {
        padding: 5px 10px;
        font-size: 1.6rem;
    }

    .th-weight {
        width: 145px;
    }

    .grid-homepage {
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        font-size: 5.2rem;
    }

    .form-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) 1fr;
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        margin: 0 10px 0 0;
        min-height: 0; /* NEW */
        min-width: 0; /* NEW; needed for Firefox */
    }

    .form-grid__image {
        grid-column-start: 3;
        grid-row-start: 1;
        grid-row-end: span 5;
        height: 130px;
    }
}

@media only screen and (min-width: 600px) {
    :root {
        --min-width: 55rem;
        --layout-spacing: 1.6rem;
        --pre-width: 100%;
        --verseNavDisplay: flex;
    }

    .grid-two-by-two {
        --colTemCol: 1fr 1fr;
        --colCount: 2;
        --colGap: var(--base-spacing);
        --rowGap: var(--base-spacing);
    }

    .grid-two-by-two__radios {
        width: 50%;
        --colTemCol: auto 1fr auto 1fr;
    }

    .grid-two-by-two__radio {
        grid-template-columns: 2rem auto;
    }

    .main-nav {
        border-width: 10px 0;
    }

    .main-nav__list {
        display: flex;
        justify-content: center;
    }

    .main-nav__item:not(:last-of-type) {
        border-width: 0 1px 0 0;
    }

    .lejog-nav {
        border: var(--default-border);
    }

    .grid-generic__three {
        --colTemCol: 1fr 1fr 1fr;
        --colCount: 3;
        --colGap: 1rem;
    }
}

@media only screen and (min-width: 760px) {
    :root {
        --xlarge-font-size: 3.2rem;
    }

    .grid-post {
        --colTemCol: 3fr 1fr;
    }

    .container {
        width: clamp(500px,100%,100%);
    }
}


@media only screen and (min-width: 1081px) {
    .container {
        width: clamp(660px, 75%, 80%);
    }
}
