<main class="grid-post-main" id="main">
    <article>
        <h1 class="alpha"><%= pageTitle; %></h1>
        <p>There are many different approaches to doing the walk, mainly in the approach to sleeping and eating. Some
            people like
            <a href="https://www.landsendjohnogroats.info/">Mark Moxon</a>, spend every night in bed and breakfasts,
            though to be fair to him, he only does this once his tent breaks and he suffers major foot pain. While at
            the other extreme
            <a href="https://wildwalkinguk.com/">Wildwalkinguk</a> wild camps every night without exception. Most people
            seem to camp, and maybe take a few days here or there in hostels or bed and breakfast when the mood takes
            them.</p>

        <p>I will be following the later approach, ideally mostly wild camping, though I have completely failed to do
            any sort of wild camping in my preparation for this trip. I'm a little nervous of doing it but I am sure I
            will get use to it. Otherwise I will use campsites where needed or bed and breakfasts where I feel the need
            or there is a good reason to. Wild camping seems the best overall option as you are not tied down to
            specific spots and do not need to book anywhere. The downside is that you need to be able to find somewhere
            that you can camp.</p>

        <p>Using bed and breakfasts the whole way is a luxury way of walking and is probably great if you can afford it
            and have a good amount of time to do the walk. My main problem with this approach is that I am a legendary
            miser and have already coerced myself into buying lots of new kit. Even if you manage to get a bed and
            breakfast for £40 a night over 10 weeks that adds up to a whooping £2800 and you still you need to buy food
            and drink on top of that. You can kit yourself out with a great tent, a light sleeping bag and backpack for
            a that much and still have a substantial amount of change left over. It does enable you to travel very
            light, you don't have to carry much if you are walking like this, but you have all the problems of booking
            accommodation and making sure you can get to it, so it limits you in many ways.</p>

        <p>I am sure there will be days where a bed and a hot shower (or even better a bath) are too much to resist but
            we shall see. My approach to food is too cook as much as I can, and take in plenty of fruit and nuts as
            snacks, while eating out where convenient. I'm pretty sure that if I eat a lot in pubs my diet will become a
            bit of a festival of fried food, which I'd rather avoid.</p>

        <p>The other thing that seems to feature on a lot of peoples walks is drinking, some walkers keep a daily and
            cumulative
            <a href="https://mylongpubcrawl.com/my-trip/">tally of the amount</a> that they drink and others set
            themselves a target for how much they want to drink. For example <a
                    href="https://bucolicaholic.com/category/lejog/">bucolicaholic</a> sets himself the challenge of
            drinking 288 pints the volume of a standard barrel. All good fun, it's a holiday, unfortunately I am not
            that good at drinking and a couple of pints in the afternoon would probably do me no good (or I'd keep
            drinking). I'll be drinking as I go but not be setting myself any target or expecting to drink everyday,
            though we shall see how this pans out. A friend has given my a hip flash to take with me, and I feel duty
            bound to bring it along with me, even though it is empty.</p>

        <p>My other worry is fitness, currently I can walk around 24km/15miles a day, though I'm not sure if I can do
            this for days on end, having only managed to do 2 days back to back. I also have been having foot trouble
            over the last year or so, including
            <a href="https://www.nhs.uk/conditions/mortons-neuroma/">Morton's neuroma</a>,which seems to have cleared up
            but now I seem to be suffering from <a href="https://www.nhs.uk/conditions/plantar-fasciitis/">Plantar
                fasciitis</a>. The latter could quickly put an end to my walk so with this in mind my aim is to only
            walk about 16 km (10 miles) for the first 3 or 4 days. Hopefully my foot will be fine and once I am use to
            it, I can gradually increase the mileage (or kilometre-age), taking plenty of breaks and not trying to set
            any records. I need to build up the strength in my body and make sure my feet stay healthy. Walking at the
            weekends has been fine but it often means that I am rushed to complete things, starting later in the day due
            to getting to the walk means less hours to do the actual walk. Once I have set off from Lands End, I will
            have no transport to think about and will have maybe 12 - 14 hours to walk, allowing plenty of time to do
            24km and gradually build up to doing more (or so I hope). On previous trips to places like Nepal, I was
            quite amazed at how quickly my body got used to carrying a heavy pack and doing long days. I was younger and
            fitter then but I am hoping for the same during this walk, hopefully building up to around a steady 32km or
            20 miles per day.</p>
    </article>
</main>
<%- include('nav'); %>



