<main class="grid-post-main" id="main">
    <article>
        <h1 class="alpha"><%= pageTitle; %></h1>
        <p>I've brought most of this gear over the last few years, replacing some ancient kit that I had or adding
            things that I didn't. There are many approaches as to what you should carry, a lot of people carry light
            weight meths stoves or don't even carry a stove but this approach was not for me. There are lots way of
            saving weight, but super light tents and sleeping bags carry a super high cost, and I've gone for a balance
            of
            cost vs weight and am generally happy with the kit I have brought.</p>

        <p>I have probably gone over board on certain things such as a tablet for mapping, but I prefer the larger
            screen
            when compared to using a phone. Also, I am intending to use it to take photos and update this site, which
            would be hard to do using a mobile. The downside to using a tablet is that it used a lot of power, so
            re-charging needs to be frequent. I've really gone overboard on water protection, having a rucksack liner
            and cover, as well as various waterproof stuffsacs and bags, but hopefully this means that everything will
            remain dry.</p>
        <p>This list is not exhaustive or complete, there are a few odds and odds, I've missed or forgotten. I've tried
            to keep things lightweight but not fanatically. It's better to be comfortable and safe, rather than going
            super light weight and not carrying water proofs, as one group of walkers did, getting caught out on the
            Pennine Way by freezing conditions. That said, all my clothes are pretty lightweight, but I'm relying
            on layering and my down pullover if things get very cold.</p>

        <table>
            <caption class="is-accessible-text">Lejog Gear List</caption>
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col" class="th-weight">Weight in grams</th>
                    <th scope="col">Notes</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach((arrayItem) => { %>
                    <%
                        const {
                            heading,
                            items,
                            totalweight,
                            type
                        } = arrayItem;
                    %>
                    <tr>
                        <th colspan="3" scope="col" class="td-heading"><b><%= heading; %></b></th>
                    </tr>
                    <% Object.values(items).forEach((values) => { %>
                        <tr>
                            <td><%= values.item %></td>
                            <td><%= values.weight %></td>
                            <td><%= values.notes %></td>
                        </tr>
                    <% }); %>
                    <% if(type !== 'totals') { %>
                        <tr>
                            <th scope="row" class="th-non-bold">Total weight <span
                                        class="is-accessible-text">for <%= heading; %></span></th>
                            <td colspan="2"><b><%= totalweight %></b></td>
                        </tr>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </article>
</main>
<%- include('nav'); %>



