<aside class="grid-post-side">
    <nav class="lejog-nav" aria-labelledby="lejog-nav">
        <h2 id="lejog-nav" class="lejog-nav__heading"><abbr title="lands end to john o'groats">LEJOG</abbr></h2>
        <ul class="lejog-nav__list">
            <li class="list-item list-item__link">
                <a class="lejog-nav__link" href="/walks/lejog">
                    <div class="xxxx">
                        <abbr title="lands end to john o'groats">LEJOG</abbr> Home
                    </div>
                </a>
            </li>
            <li class="list-item list-item__link"><a class="lejog-nav__link" href="/static/why">
                    <div class="xxxx">Why?</div>
                </a>
            </li>
            <li class="list-item list-item__link"><a class="lejog-nav__link" href="/static/doing">
                    <div class="xxxx">Doing the walk</div>
                </a>
            </li>
            <li class="list-item list-item__link"><a class="lejog-nav__link" href="/static/route">
                    <div class="xxxx">Route</div>
                </a>
            </li>
            <li class="list-item list-item__link"><a class="lejog-nav__link" href="/static/rules">
                    <div class="xxxx">Walking rules</div>
                </a></li>
            <li class="list-item list-item__link"><a class="lejog-nav__link" href="/static/gearlist">
                    <div class="xxxx">Gear list</div>
                </a>
            </li>
        </ul>
    </nav>
</aside>
