<main class="grid-post-main" id="main">
    <article>
        <h1 class="alpha"><%= pageTitle; %></h1>
        <p>I haven't had time to create an image of the my route but this should give anyone a good idea of how I intend to complete the route.</p>
        <p>There is no set route for walking <abbr title="lands end to john o'groats">LEJOG</abbr> though a national
            route is gradually being created. As such there are many variations of how people get from the start to the
            finish, though most people seem to follow a similar route, though Cornwall and Devon to Bath or Bristol.
            Following this a lot of walkers take <a href="https://www.ldwa.org.uk/ldp/members/show_path.php?path_name=Severn+Way">The Severn Way</a> or the
            <a href="https://ldwa.org.uk/ldp/members/show_path.php?path_name=Cotswold+Way+National+Trail">Cotswold Way</a> and gradually find their way up
            through the Midlands to the <a href="https://ldwa.org.uk/ldp/members/show_path.php?path_name=Staffordshire+Way">Staffordshire Way</a>, moving on to the start of the
                <a href="https://ldwa.org.uk/ldp/members/show_path.php?path_name=Pennine+Way+National+Trail">Pennine Way</a> via the</a>
            <a href="https://www.ldwa.org.uk/ldp/members/show_path.php?path_name=Limestone+Way">Limestone Way</a>.  Others go over the Severn Bridge and heading up parts of
            <a href="https://www.ldwa.org.uk/ldp/members/show_path.php?path_name=Offa%27s+Dyke+Path+National+Trail">Offa's Dyke Path</a>, while others head North through the Lake District, it all depends on what you want to see or what you have done before.</p>

        <p>After the Pennine Way most people make their way through to Edinburgh using part of the <a href="https://www.stcuthbertsway.info/">St Cuthberts Way</a> and
            then take the <a href="https://ldwa.org.uk/ldp/members/show_path.php?path_name=Forth+%26+Clyde+%2F+Union+Canal+Towpath">Forth & Clyde/Union Canal Towpath</a>, after which they walk the
            <a href="https://www.westhighlandway.org/">West Highland Way</a> to Fort
            William. After this there is the <a
                    href="https://www.ldwa.org.uk/ldp/members/show_path.php?path_name=Great+Glen+Way">Great Glen Way</a>
            to Inverness and then some of the <a
                    href="https://www.ldwa.org.uk/ldp/members/show_path.php?menu_type=S&path_name=John+o%27Groats+Trail">The
                John O'Groats Trail</a> to the end.</p>

        <h2 class="beta m-t--med">My intended route</h2>
        <p>My own route follows a lot of the above, though after reading a lot of blogs it seems that getting through
            Cornwall is a bit of a pain with footpaths not being maintained or access to them being cut off, and
            it involves a lot of road walking. Some people take parts of the <a href="https://www.nationaltrail.co.uk/en_GB/trails/south-west-coast-path/">South West Coast Path</a> generally
            going North East, though this seems to involve a lot of hilly terrain and for every mile East you have to go
            one mile North so it is longer and hence slower. I cheated on this bit and followed routes that other people
            have taken, going to Truro, Bodmin and then to Launceston, after which I am hoping there are better
            maintained public footpaths. I will follow paths such as the <a href="https://ldwa.org.uk/ldp/members/show_path.php?path_name=Two+Castles+Trail">Two Castles Trail</a>, part of the <a href="https://ldwa.org.uk/ldp/members/show_path.php?path_name=Samaritans+Way+South+West%3A+Bristol+to+Lynton">Samaritians
                Way</a> to Bristol where I will pick up the Severn way, following it to the <a href="https://ldwa.org.uk/ldp/members/show_path.php?path_name=Staffordshire+and+Worcestershire+Canal+Walk">Staffordshire and
                Worcester Canal</a>. After which the Staffordshire Way and the Limestone Way lead though Derbyshire to the start of the Pennine Way.</p>

        <p>The Pennine Way takes me to Scotland and there is a few days walking to Edinburgh where I really diverge from
            the more traditional route and head off North West through the hills towards Fort William taking parts of
            the
            <a href="https://www.stevensonway.org.uk/">Stevenson Way</a> which traces the route of the protagonists of
            Kidnapped, the book by Robert Louis Stevenson.  This is quite a remote route and it does not seem that many people have actually walked it.  I may leave it to get on to the West Highland Way at some point as it not the most direct route, and I'll be cutting out some parts that have easier or shorter alternatives. My main worry about this route are that there maybe a lack of shops to restock food, which might mean leaving it to get on to the West Highland Way or trying to grab meals at any hotels that are in the area. From Fort William I intend to take the
            <a href="https://www.walkhighlands.co.uk/cape-wrath-trail.shtml">Cape Wrath Trail</a> to Durness and then
            the
            <a href="https://www.northhighland-way.com">North Highland Way</a> to the end of the walk at Dunnets Point.
        </p>

        <p>The above route is heavily dependent on the pace that I walk, if I find myself at Fort William and I have taken too long to get there then I can switch, leaving out the Cape Wrath Trail and the walk across the North of Scotland.  Or possibly I could switch to taking the canal from Edinburgh and then the West Highland Way if I am pushed for time.</p>
        <h2 class="beta m-t--med">Mapping and finding my way</h2>
        <p>I have plotted my route as a series of GPX files using the OS Maps app, either modifying existing GPXs that I
            downloaded from other sources or putting them in by hand. I am not going to rely totally on digital mapping
            and intend to buy some maps as I proceed through the walk. I've discovered that I like using a paper map
            rather than constantly looking at my phone or tablet to discover where I am, though there will be occasions where I rely on digital mapping. In the common situation
            where I cannot locate myself on the map, the
            <abbr title="Global Positioning System">GPS</abbr> on the phone or mobile makes an excellent back-up.</p>
    </article>
</main>
<%- include('nav'); %>



