<main class="grid-post-main" id="main">
    <article>
        <h1 class="alpha"><%= pageTitle; %></h1>
        <p>I've got a few rules that I am going to try and abide by, they are quite simple and more of a way of making sure I have the sort of experience I want.  So as follows:</p>
        <ul class="list--bulleted">
            <li class="list-item">No transport to be used, walking every where, the one exception is where boats are required (eg at the start and end of the Cape Wrath Trail).</li>
            <li class="list-item">No idle internet browsing, so no social media (not that I am mad about it anyway), no looking at the news, no watching Netflix etc.  I spend my life behind a screen and a break is needed, after the last few years I need a break from all the bad news.</li>
            <li class="list-item">Only use the internet to search for things related to the walk, such as campsites, routes or things that are required such as maps, guidebooks and equipment.</li>
            <li class="list-item">Observe the <a href="https://www.countrysideonline.co.uk/care-for-the-countryside/countryside-code/">Country Side Code</a> and the
                <a href="https://wildwalkinguk.com/2019/06/18/my-11-wild-camping-rules/">wild camping rules</a>. These wild camping rules vary from person to person but the link gives a good overview.</li>
        </ul>
    </article>
</main>
<%- include('nav'); %>



