<main class="grid-post-main" id="main">
    <article>
        <h1 class="alpha"><%= pageTitle; %></h1>
        <p>Many years ago, when I still a teenage I was in bed listening to an interview with the US ambassador to the UK who was talking about his walk from Lands End to John O'Groats.  He'd done the walk  over a series of weekends usually accompanied by various body guards, starting each week where he had finished the previous week.  I was immediately taken back by the idea of walking the whole length of the country or various countries that make up the UK, despite not having done much walking up until that point.</p>

        <p>The idea lay dormant in my mind for a long time despite me doing a geology degree and doing a lot of outdoor activities such as mountaineering and walking.  After we entered the age of the internet, one day at work (I was working as a web developer by now), I googled the walk and came across the informative and detailed site run by Mark Moxon, who had done the walk in 2003.  He maintains a site,
            <a href="https://www.landsendjohnogroats.info/">Walking Land's End to John o'Groats with Mark Moxon</a>, detailing his walk and lots of information about doing it yourself.  There are very interesting listings of other accounts by people who have done the walk.</p>

        <p>I first looked at Mark's site soon after he had built it but it was still years later that I eventually decided to do the walk.  I can't overstate how useful Marks site has been in helping me plan, looking at his and other peoples sites has been really useful in getting tips, ideas about routes and where problems occur.  Honourable mentions must go other sites that I used a lot such as <a href="https://bucolicaholic.com/category/lejog/">Bucolicaholic</a>, <a href="https://wildwalkinguk.com/category/lejog-walk/">UK Wild Walking</a> who wild camps all the way, <a href="https://www.walkingenglishman.com/greatbritishwalk.html">The Walking English Man</a> and <a href="http://johnsutcliffe.net/the-cape-to-cape-walk.html">John Sutcliffe</a> and his self published book which I read many times.  I looked at a lot of other blogs and vblogs but cannot mention them all here, there are plenty of them about.</p>

        <p>Despite looking at Mark's site in the early 2000s I did not decide to do the walk until 2019, and started planning to do it, however a little problem called COVID got in the way, along with my dog getting ill and requiring medicine at regular intervals meant that I had to postpone the trip until summer 2022.  I quite regret not doing many years ago as I was younger, fitter and had more free time.  My training for the trip has generally been doing walks on a Saturday or Sunday though I did get a few weekend walks in.  I had a few problems with my right foot which seem to be fixed but might reappear, a potential problem that might cause me to give up the walk but only time will tell.  I have brought all the equipment I need, planned my route and booked a ticket on the overnight train to Penzance.  Now I just need actually catch the train and do the walk.</p>
    </article>
</main>
<%- include('nav'); %>



