
<%
    const {required, value, label, id, name, error, errorMessage } = data;
	const hasError = !!error;
	const baseContainerClasses = hasError ?'input-container input-container__error' : 'input-container';
	const errorText = errorMessage || 'Input cannot be empty';
%>

<div class="<%= baseContainerClasses; %>">
    <% if(hasError) { %>
        <p><a href="#<%= id; %>" class="text-error"><%= errorText; %></a></p>
    <% } %>
    <label class="label" for="<%= id; %>"><%= label; %></label>
    <input class="input" type="text" id="<%= id; %>" name="<%= name; %>"
           value="<%= value; %>" <%= required && 'required="required"'; %>>
</div>
