<div class="m-v-b-large">
    <label class="label" for="<%= data.id; %>"><%= data.label; %></label>
    <input class="input" type="password" id="<%= data.id; %>" name="<%= data.name; %>"
           value="<%= data.value; %>" <%= data.required && 'required="required"'; %>>
</div>
