<div class="grid-post-side m-v-b-large">
    <label class="label" for="<%= data.id; %>"><%= data.label; %></label>
    <textarea class="textarea" id="<%= data.id; %>"
              name="<%= data.name; %>" <%= data.required && 'required=required'; %>><%= data.value; %></textarea>
</div>
