<main id="main">
    <h1 class="alpha"><%= pageTitle ;%></h1>
    <p>We want as many people as possible to be able to use this website. For example, that means
        you
        should be able to:</p>
    <ul class="list--bulleted">
        <li class="list-item">change colours, contrast levels and fonts</li>
        <li class="list-item">zoom in up to 300% without the text spilling off the screen</li>
        <li class="list-item">navigate most of the website using just a keyboard</li>
        <li class="list-item">navigate most of the website using speech recognition software</li>
        <li class="list-item">listen to most of the website using a screen reader (including the
            most
            recent versions of JAWS, NVDA and VoiceOver)
        </li>
    </ul>
    <p>The caveat to the above is that I don't have access to any screen readers except VoiceOver which I have tested the site with.  Users are able to tab though the content and use the site without the use of a mouse.</p>
</main>
