<%
const { formData, formErrors } = locals;
const config = {
    yourname: {
        text: 'Your name cannot be empty'
    },
    emailaddress: {
        text: 'Your email address must be valid'
    },
    yourmessage: {
        text: 'Your message cannot be empty'
    }
}
%>
<main class="grid-post-main" id="main">
    <article>
        <h1 class="alpha"><%= pageTitle; %></h1>
        <div class="container-contact">
            <form method="POST" action="/sendmessage" class="form form__medium" novalidate>
                <%# <input type="hidden" name="_csrf" value="" />%>
                <% if (formErrors) { %>
                    <div class="error-holder">
                        <p class="text-error">Please fix the following errors in the form</p>
                        <ul>
                            <% formErrors.forEach((key) => { %>
                                <li><a class="text-error" href="#<%= key ;%>"><%= config[key].text ;%></a></li>
                            <% }); %>
                        </ul>
                    </div>
                <% } %>
                <fieldset class="fieldset fieldset__col">
                    <div class="flex flex-aligned">
                        <legend class="theta m0">Your details</legend>
                        <p class="tiny-text m0">All fields are required</p>
                    </div>
                    <label class="label" for="yourname">Your name</label>
                    <input class="<%= `${formErrors && formErrors.includes('yourname') ? 'input input__error m-v-b-large' : 'input m-v-b-large'}` ;%>"
                           type="text" id="yourname" name="yourname" required
                           value="<%= `${formData && formData.yourname ? formData.yourname : ''}` ;%>">

                    <label class="label" for="emailaddress">Your email address</label>
                    <input class="<%= `${formErrors && formErrors.includes('emailaddress') ? 'input input__error m-v-b-large' : 'input m-v-b-large'}` ;%>"
                           type="email" id="emailaddress" required name="emailaddress"
                           value="<%= `${formData && formData.emailaddress ? formData.emailaddress : ''}` ;%>">

                    <div class="is-accessible-text">
                        <label for="url">Url</label>
                        <input tabindex="-1" autocomplete="nope" type="url" id="url" name="url">
                    </div>
                </fieldset>
                <fieldset class="fieldset fieldset__col">
                    <legend class="theta m0">Message</legend>
                    <label class="label" for="yourmessage">Please add your message</label>
                    <textarea required
                              class="<%= `${formErrors && formErrors.includes('yourmessage') ? 'textarea input__error' : 'textarea'}` ;%>"
                              id="yourmessage"
                              name="yourmessage"><%= `${formData && formData.yourmessage ? formData.yourmessage : ''}` ;%></textarea>
                </fieldset>
                <button type="submit" class="btn btn__submit">Submit form</button>
            </form>
        </div>
    </article>
</main>
