<main class="grid-post-main" id="main">
    <article>
        <h1 class="alpha"><%= pageTitle; %></h1>
        <p class="text-error">Unable to send message, please try again.</p>
    </article>
</main>
