<form class="form form__medium" novalidate method="post" action="gearlistupload">
    <%- include('../forms/input', {data: {name: 'gearlist', id: 'gearlist', value: '', label: 'Gear list', required: true, error: hasGearListError}}); %>
        <%- include('../partials/buttonSubmit'); %>
</form>
