<main id="main">
    <h1 class="alpha"><%= pageTitle; %></h1>
    <p>Welcome to Jaywalking, a site about me doing some walking and possibly some climbing though
        that has not been a big part of my outdoor activities for a a while. I might even add a
        section about equipment and reviewing some of the kit I have brought and used.</p>
    <p>The main motivation to build this site was to detail my experience of walking Lands End to John
        O'Groats, something I will hopefully attempt in the summer of 2022. I will attempt to
        write up daily reports while doing the walk though this largely depending on time.</p>

        <%- include('../partials/homePageContent', {dataArray: homePageLatest, dataTitle: 'Latest posts'}); %>
        <%- include('../partials/homePageContent', {dataArray: homePageContent, dataTitle: 'Random posts'}); %>

</main>
