<main id="main">
    <h1 class="alpha"><%= pageTitle; %></h1>
    <p>Currently we don't use any cookies or retain any data about you such as your IP address or
        track
        you in any way. This may change in the future but if it does we'll update this page.</p>
</main>
